<section class="block jobs">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">

                <div class="pageHeader">
                    <h2>Total Jobs <span>09</span></h2>
                </div>

                <div class="jobsList">
                    <div class="row">

                        <div class="col-md-4">
                            <!-- Job List Card -->
                            <div class="jlCard card">
                                <div class="card-body">
                                    <div class="jlMeta">
                                        <span>10 Jan, 2024</span>
                                        <button class="btn rounded"><ng-icon name="remixStarFill"></ng-icon></button>
                                    </div>
                                    <h4>Supervisor III (Operation Services)</h4>
                                    <p><ng-icon name="remixMapMarkerFill"></ng-icon> Kuala Lumpur | Exp: 10-15 yrs</p>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-dark">Join</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>