<!--  -->
<div class="table-responsive rounded-3">
    <table class="table table-striped table-jobs">
        <thead>
            <tr>
                <th scope="col">Job Id</th>
                <th scope="col">Function</th>
                <th scope="col">Location</th>
                <th scope="col">Post</th>
                <th scope="col">Experience</th>
                <th scope="col">Position(s)</th>
                <th scope="col">Fulfilled Positions</th>
                <th scope="col">Open Positions</th>
                <th scope="col">Received Applications</th>
                <th scope="col">Available Applications</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Drop Box</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>4</td>
                <td></td>
                <td>
                    <div class="d-flex justify-content-center">
                        <a routerLink="/hr/view-job" class=""><ng-icon class="icon" name="remixEyeFill"></ng-icon></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>