body {
    --hk-body-font-family: 'JioType', var(--hk-font-sans-serif);
    --hk-body-font-weight: 500;
    --hk-border-color-translucent: rgb(0 0 0 / 0%);

    height: 100%;
    min-height: 100dvh;
}

a,
.btn {
    transition: all ease-in-out 250ms;

    &:hover {}
}