body {
    --hk-body-font-family: 'JioType', var(--hk-font-sans-serif);
    --hk-body-font-weight: 500;
    --hk-border-color-translucent: rgb(0 0 0 / 0%);


    height: 100%;
    min-height: 100dvh;
}

a,
.btn {
    transition: all ease-in-out 250ms;

    &:hover {}
}

img {
    @extend .img-fluid;
}

.block {
    padding: 3rem 0;
}

ng-icon {
    display: flex !important;
    overflow: initial !important;
    --ng-icon__size: initial !important;
}

.input-group {

    &.input-group-mordern {

        .form-control {
            background: transparent;
            border-right: none;
        }

        .input-group-text,
        .btn {
            background: transparent;
            border-left: none;
        }
    }
}

.btn {
    &.btn-dark {
        font-size: 0.75rem;
        font-weight: 700;
    }
}