/* You can add global styles to this file, and also import other style files */
// Variable overrides first
$primary: #43B749;
$enable-shadows: true;
$prefix: "hk-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Rest of the Styles
@import url('../src/assets/scss/main.scss');